@import '~bootstrap/scss/bootstrap';

.blog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-word;
}

.card-header > * {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.clean-btn {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.comment {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-word;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.owned {
  display: none;
}

#user-message {
  height: 38px;
}

#blog-body-textarea {
  min-height: 10rem;
}