@import '~bootstrap/scss/bootstrap';

.owned {
  display: none;
}

.blog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-word;
}

.comment {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-word;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.clean-btn {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}