@import '~bootstrap/scss/bootstrap';

body {}
//
// form {
//   display: block;
// }

.owned {
  display: none;
}

.blog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-word;
}

.comment {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-break: break-word;
}